@import "../../app/scss/breakpoints.scss";
@import "../../app/scss/variable.scss";

.btn {
    color: $slate;
    padding: 16px 48px;
    background-color: $amber;
    font-size: 22px;

    &:hover {
        background-color: #e7c552;
    }

    @include md {
        padding: 12px 35px;
        font-size: 18px;
      }
}
