@import "../../app/scss/breakpoints.scss";
@import "../../app/scss/variable.scss";

.box {
  display: flex;
  justify-content: center;
  gap: 20px;
  min-width: 370px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 140px;
  padding-left: 70px;
  padding-right: 70px;

  @include md {
    align-items: center;
    padding-top: 100px;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.title {
  font-size: 34px;
  color: $slate;

  @include md {
    font-size: 26px;
  }
}

.motivation {
  max-width: 55%;

  @include md {
    max-width: 49%;
}
}

.text {
  padding-top: 20px;
  font-size: 22px;
  color: $gray;
  line-height: 30px;

  @include md {
    font-size: 18px;
  }
}

.tel {
  font-size: 22px;
  color: $indigo;

  @include md {
    font-size: 18px;
  }
}

.form {
  display: flex;
  row-gap: 20px;
  flex-wrap: wrap;
  max-width: 40%;

  @include md {
      max-width: 49%;
  }
}

.input {
  height: 45px;
  width: 100%;
  border: 0;
  outline:none;
  border-bottom: 1px solid $gray;
  font-size: 22px;
  color: $gray;

  &:focus {
    background-color: $lightIndigo;
  }

  @include md {
    font-size: 18px;
  }
}