@import "../../app/scss/breakpoints.scss";
@import "../../app/scss/variable.scss";

.box {
  max-width: 400px;
  min-height: 300px;
  padding: 20px;
  border-radius: 5px;

  &:nth-child(odd) {
    border: 1px solid $mediumGrey;
  }

  &:nth-child(even) {
    background-color: $amber;
  }

  @include md {
    max-width: 300px;
    padding: 15px;
  }

  @include sm {
    max-width: 100%;
    min-height: 200px;
  }
}

.num {
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 26px;
  color: $slate;
  background-color: $lightYellow;

  @include sm {
    margin-top: 10px;
    padding-top: 15px;
  }
}

.text {
  padding-top: 40px;
  font-size: 18px;
  line-height: 30px;
  color: $gray;

  @include sm {
    padding-top: 20px;
  }
}
