@import "../../app/scss/breakpoints.scss";
@import "../../app/scss/variable.scss";

.box {
  min-width: 370px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 140px;
  padding-left: 70px;
  padding-right: 70px;

  @include md {
    padding-top: 100px;
    padding-left: 35px;
    padding-right: 35px;
  }

  @include sm {
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.title {
  font-size: 34px;
  color: $slate;

  @include md {
    font-size: 30px;
  }
}

.list {
  max-height: 231px;
  border-radius: 5px;
  transition: max-height 0.4s linear, padding-bottom 0.2s linear;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: $lightSlate;

  @include md {
    max-height: 250px;
    margin-top: 30px;
    padding: 15px;
  }

  &Active {
    max-height: 2500px;
    transition: max-height 0.4s ease, padding-bottom 0.2s ease;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid $mediumGrey;
  color: $gray;

  & > span {
    font-size: 18px;

    @include md {
      font-size: 16px;
    }
  }

  @include sm {
    & > span:nth-child(odd) {
      width: 70%;
    }
  }
}
